*{
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
}

html {
        background: url(/image/default.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

body{
  /*background: #efefef61;*/
  /*background-image: url(/image/default.jpg);
  background-size: 100%; /* Современные браузеры */
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-width: 1000px;
}
.navbar{
  /*background: lightgray;*/
  background: linear-gradient(to left, lightgray, #F3AE0F);
  height: 50px;
  box-shadow: 0 0 5px;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
}
.container{
  margin: 120px auto;
  text-align: center;
  background: lightgray;
  height: 240px;
  width: 1000px;
  box-shadow: 0 0 20px;
  border-radius: 7px;        
}
#text-1{
  width: 500px;
  float: left;
  margin-top: 10px; 
}
#text-2{
  width: 500px;
  float: right;
  margin-top: 10px;
  position: relative;     

}
textarea{
  font-size: 100%;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  resize: none;
}
button{
display: inline-block;
color: #fff;
font-size: 80%;
text-decoration: none;
padding: .5em 2em;
outline: none;
border-width: 2px 0;
border-style: solid none;
border-color: #FDBE33 #000 #D77206;
border-radius: 6px;
background: linear-gradient(#F3AE0F, #E38916) #E38916;
transition: 0.2s;
} 
button:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; cursor: pointer;}
button:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }